body {
    margin: 0;
    padding: 0;
}

main {
    position: relative;
}

#map {
    height: 600px;
    width: 100%;
}

.controls {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1000;
}

#pac-input {
    min-width: 250px;
}

#buttons .btn:first-child {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

#buttons .btn:last-child {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.modal-body p:last-child {
    margin-bottom: 0;
}