body {
    margin: 0;
    padding: 0;
    /*background-color: #d3d3d3 !important;*/
}

header {
    font-family: 'Lobster', cursive;
    text-align: center;
}

header h1 {
    font-size: 80px;
    margin-top: -40px;
}

main {
    position: relative;
}

#map {
    height: 700px;
    width: 100%;
}

.controls {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1000;
}

.weather {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1000;
}

.weatherwidget-io {
    width: 400px;
}

#pac-input {
    min-width: 250px;
}

#buttons .btn:first-child {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

#buttons .btn:last-child {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.modal-body p:last-child {
    margin-bottom: 0;
}

footer {
    width: 100%;
}

footer > p {
    text-align: center;
    color: black;
    margin: 0;
    padding: 10px;
}

footer .heart {
    color: white;
}