<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="./Bike.css"/>
</head>
<body>

<div class="bike">
    <div class="frame">
        <div class="frame one"></div>
        <div class="frame two"></div>
        <div class="frame three"></div>
        <div class="frame four"></div>
        <div class="frame five"></div>
        <div class="frame six"></div>
        <div class="frame saddle"></div>
        <div class="frame pedal"></div>
        <div class="frame handlebar"></div>
    </div>
    <div class="wheel">
        <div class="wheel left"></div>
        <div class="wheel right"></div>
    </div>
</div>
</body>
</html>